@page
@model ModellenBureau.Pages.PhotoModels.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <!--<a asp-page="Create">Create New</a>-->
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PhotoModel[0].User.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhotoModel[0].User.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhotoModel[0].User.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhotoModel[0].User.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhotoModel[0].Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhotoModel[0].Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhotoModel[0].EyeColour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhotoModel[0].HairColour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhotoModel[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PhotoModel) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName + " " + item.User.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EyeColour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HairColour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
